version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: crosslink_postgres
    environment:
      POSTGRES_USER: crosslink
      POSTGRES_PASSWORD: crosslink
      POSTGRES_DB: crosslink
    ports:
      - "25432:5432"
    volumes:
      - ./pg_data:/var/lib/postgresql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql